# One Health Job Assessment

In [46]:
# Importing dependables

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import zipfile  # for dealing with zip files
from datetime import timedelta  # for dealing with time series calculations

import warnings
# Suppress all warnings within a code block
warnings.filterwarnings("ignore")

In [47]:
# Open the zip file in read mode

with zipfile.ZipFile("onehealthzip.zip", 'r'):  # this code opens the zip file
    df = pd.read_excel('Assessment Data.xlsx')  # this code reads the excel file into a data frame

In [48]:
df.head()

,HMO ID,Prescription Code,Name,Date created,STATUS,Delivery Status,Delivery Time,Unnamed: 7
0,10007RUTA,90A67E39,Aretola,2024-05-01 05:24:01,Dispensed,Delivered,2024-05-01 17:00:00,NaN
1,10136AVLC,294E6A17,Ijete,2024-05-01 06:29:03,Dispensed,Delivered,2024-05-01 13:23:00,NaN
2,10047IPOB,A98A9111,Afiomah,2024-05-01 06:31:34,Dispensed,Delivered,2024-05-02 16:12:00,"Enrollee number not connecting, reroute 2nd"
3,10026CSHB,D34456FA,Olaomi,2024-05-01 06:37:31,Dispensed,Delivered,NaT,NaN
4,10054PVLA,850258F2,Abdullahi,2024-05-01 06:56:48,Dispensed,Delivered,2024-05-01 12:00:00,NaN

In [49]:
# Check for the dimension of the data set

print(f"The total number of column in the df is: {df.shape[1]}")
print(f"The total number of rows in the df is: {df.shape[0]}")

The total number of column in the df is: 8
The total number of rows in the df is: 6198

In [50]:
# check the data for inconsistencies like Null values and column name formats

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6198 entries, 0 to 6197
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   HMO ID             6197 non-null   object
 1   Prescription Code  6196 non-null   object
 2   Name               6198 non-null   object
 3   Date created       6198 non-null   datetime64[ns]
 4   STATUS             6198 non-null   object
 5   Delivery Status    6193 non-null   object
 6   Delivery Time      5702 non-null   datetime64[ns]
 7   Unnamed: 7         194 non-null    object
dtypes: datetime64[ns](2), object(6)
memory usage: 387.5+ KB

### Observations
- the date columns are not in the correct format
- there some Null values in the Delivery Time Column
- the feature names are not consistent
- the last column unnamed: 7 is irrelevant to the task

# Data Cleaning and Preparation

In [51]:
# Checking for missing Values

print(df.isnull().sum())

HMO ID                  1
Prescription Code       2
Name                    0
Date created            0
STATUS                  0
Delivery Status         5
Delivery Time         496
Unnamed: 7           6004
dtype: int64

In [52]:
# calculate the percentages of missing values

missing_value_percentages = (df.isnull().sum() / df.shape[0]) * 100
print(missing_value_percentages)

HMO ID                0.016134
Prescription Code     0.032268
Name                  0.000000
Date created          0.000000
STATUS                0.000000
Delivery Status       0.080671
Delivery Time         8.002581
Unnamed: 7           96.869958
dtype: float64

In [53]:
# We will also drop the unnamed: 7 column.
# Since the percentage of null values in the Delivery Time is not up to 20% of 
# The total number of roles in the data set we will drop the null values.

# Create a funtion that will take a data frame object:
# remove the null values and unnecessary columns, 
# Standardize the date time columns i.e convert the datetime columns to datetime data type

def remove_nullValues_unneccessary_col (df):
    '''This function takes in a data frame and remove the unwanted features and null values
       Convert the date time features to the date time format
    '''
    # drop the column
    df = df.drop("Unnamed: 7", axis = 1)
    df = df.dropna()
    # Standardize date and time formats
    df['Date created'] = pd.to_datetime(df['Date created'])
    df['Delivery Time'] = pd.to_datetime(df['Delivery Time'])
    
    return df

In [54]:
# pass the data frame through the function
df = remove_nullValues_unneccessary_col(df)
df.head()

,HMO ID,Prescription Code,Name,Date created,STATUS,Delivery Status,Delivery Time
0,10007RUTA,90A67E39,Aretola,2024-05-01 05:24:01,Dispensed,Delivered,2024-05-01 17:00:00
1,10136AVLC,294E6A17,Ijete,2024-05-01 06:29:03,Dispensed,Delivered,2024-05-01 13:23:00
2,10047IPOB,A98A9111,Afiomah,2024-05-01 06:31:34,Dispensed,Delivered,2024-05-02 16:12:00
4,10054PVLA,850258F2,Abdullahi,2024-05-01 06:56:48,Dispensed,Delivered,2024-05-01 12:00:00
5,10506OPAA,175FBA94,FAGBAMIGBE,2024-05-01 06:57:10,Dispensed,Delivered,2024-05-01 14:23:00

In [55]:
# check for inconsistencies

df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5700 entries, 0 to 6197
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   HMO ID             5700 non-null   object
 1   Prescription Code  5700 non-null   object
 2   Name               5700 non-null   object
 3   Date created       5700 non-null   datetime64[ns]
 4   STATUS             5700 non-null   object
 5   Delivery Status    5700 non-null   object
 6   Delivery Time      5700 non-null   datetime64[ns]
dtypes: datetime64[ns](2), object(5)
memory usage: 356.2+ KB

In [56]:
# check if there are still null values

df.isnull().sum()

HMO ID               0
Prescription Code    0
Name                 0
Date created         0
STATUS               0
Delivery Status      0
Delivery Time        0
dtype: int64

In [57]:
df.columns

Index(['HMO ID', 'Prescription Code', 'Name', 'Date created', 'STATUS',
       'Delivery Status', 'Delivery Time'],
      dtype='object')

In [58]:
# Sine the column names are inconsistent, lets make it consistent as follows:

old_names = df.columns
new_names = [name.replace(' ', '_').lower() for name in old_names]  # this syntax fixes the inconsistencies in the column names

df.columns = new_names
df.columns

Index(['hmo_id', 'prescription_code', 'name', 'date_created', 'status',
       'delivery_status', 'delivery_time'],
      dtype='object')

In [59]:
df.head()

,hmo_id,prescription_code,name,date_created,status,delivery_status,delivery_time
0,10007RUTA,90A67E39,Aretola,2024-05-01 05:24:01,Dispensed,Delivered,2024-05-01 17:00:00
1,10136AVLC,294E6A17,Ijete,2024-05-01 06:29:03,Dispensed,Delivered,2024-05-01 13:23:00
2,10047IPOB,A98A9111,Afiomah,2024-05-01 06:31:34,Dispensed,Delivered,2024-05-02 16:12:00
4,10054PVLA,850258F2,Abdullahi,2024-05-01 06:56:48,Dispensed,Delivered,2024-05-01 12:00:00
5,10506OPAA,175FBA94,FAGBAMIGBE,2024-05-01 06:57:10,Dispensed,Delivered,2024-05-01 14:23:00

##### Lead Time Calculation

In [60]:
# Calculate lead time
df['lead_time'] = (df['delivery_time'] - df['date_created']).dt.total_seconds() / 3600

# Adjust lead time for orders created after 4 PM
def adjust_lead_time(row):
    """
    Adjusts lead time for orders created after 4 PM and not delivered on the same day.

    This function takes a single row (Series) from the DataFrame as input and modifies
    the 'lead_time' value based on specific conditions.

    Args:
        row (pandas.Series): A row from the DataFrame containing order information.

    Returns:
        float: The adjusted lead time in hours (or None if delivery time is missing).
    """

    # Check if order creation time is after 4 PM (16:00)
    if row['date_created'].hour >= 16:
        # Check if delivery occurred on the same day (date comparison)
        if row['delivery_time'].date() != row['date_created'].date():
            # Calculate the adjusted creation time (8 AM next day)
            next_day_8_am = row['date_created'].replace(hour=8, minute=0, second=0, microsecond=0) + pd.Timedelta(days=1)

            # Calculate lead time in seconds and convert to hours
            lead_time_seconds = (row['delivery_time'] - next_day_8_am).total_seconds()
            lead_time_hours = lead_time_seconds / 3600

            # Return the adjusted lead time in hours
            return lead_time_hours
        else:
            # Delivery occurred on the same day, no adjustment needed (assuming lead_time exists in the row)
            return row['lead_time']
    else:
        # Order created before 4 PM, no adjustment needed (assuming lead_time exists in the row)
        return row['lead_time']

    # This line is unreachable in practice, but included for completeness
    return None  # Handle cases where delivery time is missing (return None)

In [61]:
# Apply the function to each row with a new column 'lead_time'
df['lead_time'] = df.apply(adjust_lead_time, axis=1)

# print first 5 rows to check the result
df.head()

,hmo_id,prescription_code,name,date_created,status,delivery_status,delivery_time,lead_time
0,10007RUTA,90A67E39,Aretola,2024-05-01 05:24:01,Dispensed,Delivered,2024-05-01 17:00:00,11.599722
1,10136AVLC,294E6A17,Ijete,2024-05-01 06:29:03,Dispensed,Delivered,2024-05-01 13:23:00,6.899167
2,10047IPOB,A98A9111,Afiomah,2024-05-01 06:31:34,Dispensed,Delivered,2024-05-02 16:12:00,33.673889
4,10054PVLA,850258F2,Abdullahi,2024-05-01 06:56:48,Dispensed,Delivered,2024-05-01 12:00:00,5.053333
5,10506OPAA,175FBA94,FAGBAMIGBE,2024-05-01 06:57:10,Dispensed,Delivered,2024-05-01 14:23:00,7.430556

#### Save the cleaned data to excel format

In [63]:
# copy the cleaned data into a new dataframe called df_cleaned

df_cleaned = df.copy()

In [64]:
# Set file name to Assessment_Data_Output as output DataFrame
file_path = 'Assessment_Data_Output.xlsx'
df_cleaned.to_excel(file_path, index=False)